@font-face {
  font-family: 'InputMonoRegular';
  src: url('InputMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InputMono';
  src: url('InputMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  background: rgb(238, 208, 255);
  height: 100vh;
  color: white;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#center {
  width: 100%;
  margin: 2vw;
}

textarea, select, button, body {
  font-size: 3vw;
  font-family: 'InputMono';

}

section {
  margin-bottom: 1em;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}


textarea::placeholder {
  color: rgba(219, 167, 250, 0.531);
}


textarea, select, button {
  background: none;
  border: 0.15vw solid white;
  color: white;
  padding: 2vw;
  border-radius: 0;
  outline: none;
  text-transform: uppercase;
}

select, button {
  cursor: pointer;
  text-transform: uppercase;
}

select:hover, button:hover {
  background:  rgb(215, 153, 250);
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 1.5vw;
  text-transform: uppercase;
  text-align: left;
  overflow: hidden;
  width: 150%;
  height: 1.5vw;
  color: rgb(219, 167, 250);
}

#lang {
  margin-bottom: 2.5vw;
}

#send {
  margin-top: 2vw;
}

#write {
  text-align: center;
  font-size: 7vw;
  text-transform: uppercase;
}

#live {
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  border: none;
}

#next-performance {
  text-align: center;
  text-transform: uppercase;
  font-size: 7vw;
}

header, footer {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}
